<div  style="background-color:  #8258FA ;  ">

    <h1>TRABAJO 2</h1>
<hr>

<p> Nombres: 
    <input [(ngModel)]="Nombre">
    <br>

</p>

<p> Apellidos:
    <input  [(ngModel)]="Apellido">
<br>
</p>

<p> Email:
    <input  [(ngModel)]="Email">
<br>
</p>

<p> Contraseña:
    <input  [(ngModel)]="Contrasena">
<br>
</p>

<p> Confirmar:
    <input  [(ngModel)]="Confirmar">
<br>
</p>

<p> Telefono:
    <input  [(ngModel)]="Telefono">
<br>
</p>


<button (click)="almacenar()">  Almacenar</button>
</div>