

<body  style="text-align: center;"> 

    <h4> Formulario </h4>

        <section style="text-align: center;">
            
            <p> Nombres: 
                <input class="Controles"  [(ngModel)]="Nombre"  type="text" name="Nombres" id="nombres" placeholder="Ingrese su Nombres" >
            
                <br>
            
            </p>
            
            <p> Apellidos:
                <input   class="Controles"[(ngModel)]="Apellido" type="text" name="Nombres" id="nombres" placeholder="Ingrese sus Apellidos" >
            <br>
            </p>
            
            <p> Email:
                <input  class="Controles" [(ngModel)]="Email" type="text" name="Nombres" id="nombres" placeholder="Ingrese su dirreccio de Email" >
            <br>
            </p>
            
            <p> Contraseña:
                <input  class="Controles"  [(ngModel)]="Contrasena" type="text" name="Nombres" id="nombres" placeholder="Ingrese su Contraseña" >
            <br>
            </p>
            
            <p> Confirmar:
                <input  class="Controles"  [(ngModel)]="Confirmar" type="text" name="Nombres" id="nombres" placeholder="Confirme su contraseña" >
            <br>
            </p>
            
            <p> Telefono:
                <input  class="Controles" [(ngModel)]="Telefono" type="text" name="Nombres" id="nombres" placeholder="Ingrese su Telefono" >
            <br>
            </p>
            <button (click)= "Mostrar ()"  [routerLink]="['home']"> Imprimir </button>
            
            <button (click)= "almacenar()"  [routerLink]="['home']">  Almacenar</button>
            
            
        </section>

</body>
